<footer class="bg-white rounded-lg shadow-sm m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      © <span id="year"></span> Proyecto Luis Espinosa.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <span id="year"></span> Proyecto 1, Web II.
      </li>

    </ul>
  </div>

  <script>
    // Mostrar año actual automáticamente
    document.getElementById('year').textContent = new Date().getFullYear();
  </script>
</footer>

