<table class="w-full text-sm text-left text-gray-600 dark:text-gray-300 mt-6 shadow-md rounded-lg overflow-hidden">
  <thead class="bg-gray-100 dark:bg-gray-800">
    <tr>
      <th class="px-6 py-3 uppercase font-semibold text-gray-700 dark:text-gray-300">Cédula</th>
      <th class="px-6 py-3 uppercase font-semibold text-gray-700 dark:text-gray-300">Nombre</th>
      <th class="px-6 py-3 uppercase font-semibold text-gray-700 dark:text-gray-300">Apellido</th>
      <th class="px-6 py-3 uppercase font-semibold text-gray-700 dark:text-gray-300">Email</th>
      <th class="px-6 py-3 uppercase font-semibold text-gray-700 dark:text-gray-300">Teléfono</th>
      <th class="px-6 py-3 uppercase font-semibold text-gray-700 dark:text-gray-300">Tareas</th>

    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let usu of tareas"
      class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 transition"
    >
      <td class="px-6 py-4 whitespace-nowrap">{{ usu.cedula }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ usu.nombre }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ usu.apellido }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ usu.email }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ usu.telefono }}</td>
      <td class="px-6 py-4 whitespace-nowrap capitalize">{{ usu.tarea }}</td>
      <td class="px-6 py-4 whitespace-nowrap flex gap-2">

      </td>
    </tr>
    <tr *ngIf="tareas.length === 0" class="bg-white dark:bg-gray-900">
      <td colspan="7" class="text-center py-4 text-gray-500 dark:text-gray-400 italic">No hay tareas registrados.</td>
    </tr>
  </tbody>
</table>