<form (ngSubmit)="guardar(formulario)" #formulario="ngForm" class="formulario max-w-md mx-auto bg-white p-6 rounded-xl shadow-md space-y-4">
  <h2 class="text-2xl font-bold text-center mb-4">Registro de Tareas</h2>

  <input
    type="number"
    placeholder="Cédula"
    name="cedula"
    [(ngModel)]="cedula"
    required
    class="w-full border border-gray-300 p-2 rounded"
  />

  <input
    type="text"
    placeholder="Nombre"
    name="nombre"
    [(ngModel)]="nombre"
    required
    class="w-full border border-gray-300 p-2 rounded"
  />

  <input
    type="text"
    placeholder="Apellido"
    name="apellido"
    [(ngModel)]="apellido"
    required
    class="w-full border border-gray-300 p-2 rounded"
  />

  <input
    type="email"
    placeholder="Email"
    name="email"
    [(ngModel)]="email"
    required
    class="w-full border border-gray-300 p-2 rounded"
  />

  <input
    type="text"
    placeholder="Teléfono"
    name="telefono"
    [(ngModel)]="telefono"
    required
    class="w-full border border-gray-300 p-2 rounded"
  />

<textarea
  placeholder="Escribe la tarea"
  name="tarea"
  [(ngModel)]="tarea"
  required
  rows="4"
  class="w-full border border-gray-300 p-2 rounded resize-none"
></textarea>



  <div class="flex justify-between mt-4">
    <button
      type="submit"
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition"
    >
      {{ id ? 'Actualizar' : 'Enviar' }}
    </button>

    <button
      type="button"
      (click)="limpiarFormulario(formulario)"
      class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400 transition"
    >
      Limpiar
    </button>
  </div>
</form>
